body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('background-image.jpg'); /* Replace with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    width: 80%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.conversion-container {
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

label {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.result-container {
    margin-top: 10px;
}

p {
    color: #555;
    font-size: 18px;
}

.btn-container {
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}
